<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ionic.Zlib" version="1.9.1.5" targetFramework="net47" />
  <package id="Pfim" version="0.10.0" targetFramework="net47" />
  <package id="SharpDX" version="4.2.0" targetFramework="net47" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net47" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net47" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net47" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net47" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net47" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net47" />
  <package id="SixLabors.ImageSharp" version="1.0.3" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Memory" version="4.5.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net47" />
</packages>